.main-chat
  .main-chat__header
    .main-chat__header__left-box
      .main-chat__header__left-box__group
        = @group.name
      .main-chat__header__left-box__member
        - @group.users.each do |user|
          = user.name
    .main-chat__header__right-box
      = link_to edit_group_path(@group) do
        Edit
  .main-chat__messages
    = render @messages
  .main-chat__form
    .main-chat__form__text
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__text__left', placeholder: 'type a message'
        .main-chat__form__text__right-box
          = f.label :image, class: 'form__text__right-box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__btn'